[Unit]
Description=Polkit authentication agent
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/xfce-polkit/xfce-polkit

[Install]
WantedBy=sway-session.target
