[Unit]
Description=Simple Alt-Tab daemon for SwayWM/i3
PartOf=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/local/bin/sway-alttab
PIDFile=%t/sway-alttab.pid

[Install]
WantedBy=sway-session.target
