[Unit]
Description=wob — Wayland Overlay Bar
Documentation=man:wob(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wob
StandardInput=socket

[Install]
Also=wob.socket
WantedBy=sway-session.target
