[Unit]
Description=wob socket - Wayland Overlay Bar
Documentation=man:wob(1)

[Socket]
ListenFIFO=%t/wobpipe
ExecStartPost=-/usr/bin/systemctl --user set-environment WOBPIPE=%t/wobpipe

[Install]
WantedBy=sockets.target
